/* Common.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
/* Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b579a;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-brand {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
   
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    transition: 0.3s;
}

.navbar-links li a:hover {
    background-color: #1e3f7a;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


header {
    background-color: #f7c34a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Responsive section */
.intro-section {
    margin-bottom: 40px;
}

/* Responsive footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    header h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
        padding: 15px 0;
    }

    h2 {
        font-size: 1.4em;
    }

    p {
        font-size: 0.95em;
    }

    main {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.85em;
    }

    footer {
        font-size: 0.8em;
    }
}
